body{
    margin: 0;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

img{
    width: 250px;
    height: 200px;
}

header{
    width: 1080px;
    height: 200px;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}

h4{
    color: #83888d;
}

#skyblue-text{
    color: #50caf2;
}
#grey-thin{
    color: #83888d;
    font-size: smaller;
}
.yellow-background{
    background-color: yellow;
}