body{
    margin: 0;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

img{
    width: 250px;
    height: 100px;
}

header{
    width: 1080px;
    height: 200px;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}